# Virtual environment
.venv/
venv.zip

# Python caches
**/__pycache__/
*.pyc

# Local models
automotive_qa/models/

# Ignore root data folder
/data/

# Ignore files in inbox
/automotive_qa/data/inbox/

# Cache, reports, and local assets
automotive_qa/reports_cache/
automotive_qa/scratch/test_report.pdf
*.pdf
*.png
*.xlsx
